<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index_main.css" />
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
    <title>洮羱芝闇</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark" id="fix">
        <div class="container">
            <a href="#" class="navbar-brand">洮羱芝闇</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <div class="nav-link" id="github">Github</div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="bg">
        <div class="bg-contect"></div>
        <img src="../static/img/icon.jpg" class="rounded mx-auto d-block mt-lg-2" id="icon">
        <p class="text-center">欢迎</p>
    </div>
    <script type="text/javascript" src="../static/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../static/js/index_main.js"></script>
</body>

</html>