<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index_main.css" />
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
    <title>洮羱芝闇</title>
    <link rel="icon" href="../static/favicon.ico" type="image/x-icon">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark" id="fix">
        <div class="container">
            <a href="#" class="navbar-brand">洮羱芝闇</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <div class="nav-link" id="github">Github</div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="bg">
        <div class="bg-contect"></div>
        <img src="../static/img/icon.jpg" class="rounded mx-auto d-block mt-lg-2" id="icon">
        <p class="text-center">欢迎</p>
        <div class="toast text-center mx-auto" role="alert" aria-live="assertive" aria-atomic="true"
            style="display:block;" id="info">
            <div class="toast-header">
                <strong class="me-auto">提示</strong>
                <small>2022-4-26</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"
                    id="info_close"></button>
            </div>
            <div class="toast-body">
                此链接仅用于接口测试！<br>
                了解更多请在右上角访问我的Github主页。
            </div>
        </div>
        <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86
            src="//music.163.com/outchain/player?type=2&id=4010201&auto=1&height=66" id="wyyyy"></iframe>
    </div>
    <script type="text/javascript" src="../static/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../static/js/index_main.js"></script>
</body>

</html>